.list {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.statusContainer {
    border: solid black thin;
    width: 10rem;
    padding: 1rem;
}
.statusContainer > * {
    display: block;
    width: 100%;
}

.statusContainer[aria-selected='true'] {
    background-color: gold;
}