.statusContainer {
    border: solid black thin;
    max-width: 50rem;
    padding: 1rem;
}
.statusContainer > * {
    display: block;
    width: 100%;
}

.statusContainer[aria-selected='true'] {
    background-color: gold;
}